[submodule "spacemacs-theme"]
	path = .local/lib/spacemacs-theme
	url = https://github.com/nashamri/spacemacs-theme
	ignore = dirty
	shallow = true
[submodule "tempel-collection"]
	path = .local/lib/tempel-collection
	url = git@github.com:libvirgo/tempel-collection.git
[submodule "benchmark-init"]
	path = .local/lib/benchmark-init
	url = https://github.com/dholm/benchmark-init-el.git
